*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    position: relative;
    text-align: center;
    font-size: calc(24px + 2vmin);
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.030em black;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: black;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: 200ms;
}

h1:hover::before {
    width: 100%;
}

.display {
    height: 60vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    font-size: calc(10px + 2vmin);
    border: 0.5rem solid white;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    overflow-y: scroll;
}

.display::-webkit-scrollbar {
    display: none;
}

button {
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-size: calc(10px + 1vmin);
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.rps, #reset {
    padding: 0.25em 1em;
}