*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.display {
    height: 60vh;
    width: 80vw;
    background-color: gainsboro;
    border: 0.125rem solid black;
    display: grid;
    place-items: center;
    overflow-y: scroll;
}

.display::-webkit-scrollbar {
    display: none;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.rps {
    padding: 0.25em 1em;
}